<!-- start site-wrapper -->
<div class="site-wrapper">

  <!-- start site-wrapper-inner -->
  <div class="site-wrapper-inner clearfix">

      <!-- start cover-container -->
      <div class="cover-container container">

          <!-- start inner cover -->
          <div class="inner cover clearfix">
              <div class="col-xs-12 col-sm-6 intro-cont">
                  <h1 class="page-intro">Welcome to ZAROORAT..</h1>
                  <div>
                  <p><strong><a href="">      </a></strong></p>  </div>
                  <a href="#" class="btn signup"><b>Sign Up</b></a>
                <p><strong><a href=""></a></strong></p>  
              </div>
              <div class="col-xs-12 col-sm-5 col-sm-offset-1 sign-in-outer">
                <div class="sign-in-wrap">
                <h2 class="form-heading"><b>Sign In</b></h2>
                  <form class="row" method="post" action="." id="login-form">
                              <div class="input-group">
                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                              <input tabindex="1" class="form-control input-lg" name="email" type="text" size="30" maxlength="100" title="Email" placeholder="Email" value="">
                    </div>
                              <div class="input-group">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                    <input tabindex="1" class="form-control input-lg" name="password" type="password" size="30" maxlength="100" title="Password" placeholder="password" value="">
                    </div>
                          <input class="btn" type="submit" value="Sign In" title="Sign In" tabindex="3">
                     <a class="reset" tabindex="4" href="/ecms/reset.php"><b>Forgot password?</b></a>
                  </form>
                </div>
                
                <div class="social-login clearfix">
                  <p><b>- or sign in with -</b></p>
                  <ul class="social-buttons">
                    <li><a href="" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  
                  </ul>
                </div>
              </div>
          </div>
          <!-- end inner cover -->

      </div>
      <!-- end cover-container -->

  </div>
  <!-- end site-wrapper-inner -->

</div>
<!-- end site-wrapper -->