
<div class="back" ><h1>
	<!-- <div align="center" class="logo" ></div></h1>
	<div align="center" class="page-intro">
	<h2><b>Aapki Sewa Mein...</b></h2></div> -->
	<div class="logo" ></div></h1>
	<h2><div class="page-intro"><b> Aapki sewa mein...</b></div></h2>
	<input  type="text" class="form-control" name="search"  placeholder="Search for services.." [(ngModel)]="searchString"/>


<main class="page-content">
	
	<div class="card" *ngFor="let service of services | servicesearch :  {serviceName : searchString}; let i = index">
		<p class="profile-ratings">
			<i class="fas fa-paint-roller col-yellow"></i></p>
	  <div class="content">
	
		<h2 class="title">{{service.serviceName}}</h2>
		<p class="copy"></p>
		<button class="btn">Book Now</button>
	  </div>
	</div>
	

	<!-- <div class="card">
	  <div class="content">
		<h2 class="title">Plumber</h2>
		<p class="copy"> </p>
		<button class="btn">Book Now</button>
	  </div>
	</div>
	<div class="card">
	  <div class="content">
		<h2 class="title">AC Repair</h2>
		<button class="btn">Book Now</button>
	  </div>
	</div>
	<div class="card">
	  <div class="content">
		<h2 class="title">Carpainter</h2>
		<p class="copy"></p>
		<button class="btn">Book Now</button>
	  </div>
	</div>


	<div class="card">
		<div class="content">
		  <h2 class="title">Maid</h2>
		  <p class="copy"></p>
		  <button class="btn">Book Now</button>
		</div>
	  </div>


	  <div class="card">
		<div class="content">
		  <h2 class="title">Electrician</h2>
		  <p class="copy"></p>
		  <button class="btn">Book Now</button>
		</div>
	  </div>


	  <div class="card">
		<div class="content">
		  <h2 class="title">Milkman</h2>
		  <p class="copy"></p>
		  <button class="btn">Book Now</button>
		</div>
	  </div>

	  <div class="card">
		<div class="content">
		  <h2 class="title">Pestcontrol</h2>
		  <p class="copy"></p>
		  <button class="btn">Book Now</button>
		</div>
	  </div> -->


  
  </main>

</div> -->




<!-- - var cards = [{ title: 'Mountain View', button: 'View Trips' }, { title: 'To The Beach', button: 'View Trips'}, 
{ title: 'Desert Destinations',  button: 'Book Now' }, { title: 'Explore The Galaxy', button: 'Book Now' }]


mixin card(title, copy, button)
  .card
    .content
      h2.title= title
      p.copy= copy
      button.btn= button

main.page-content
  each card in cards
    +card(card.title, card.copy, card.button) -->





