@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
 
  /* box-sizing: border-box; */
}

html,
body {
  
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  
}
.back{
  position: relative;
  height: 300vh;
  /* overflow: hidden; */
  background: url("/assets/back6.jpg") no-repeat;
  background-size: cover;
  
}
.logo { 
  width: 200px; 
  height: 200px; 
  background : url("/assets/Zaroorat.png"); 
  position: absolute; 
  top: 12pt; 
  left: 120pt; 
  z-index: 300; 
  background-repeat: no-repeat;
}

.page-intro{

  color: rgb(239, 242, 247);
    font-style: italic;
    font-weight: 200;
    font-size: 35px;   
    margin-bottom: 200px;
}
.h1{
  top : 30pt;
}
.form-control{
  color:ivory;
  opacity: 0.2;
  border-radius: 25px; 
  padding: 15px 750px;
  padding-left: 90px;
  float: inherit;
}
.page-content {
  
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
  font: cursive;
	

}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  margin-top: 10px;
  position: relative;
  display: flex;
  /* align-items: flex-end; */
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  opacity: 0.9;
  text-align: center;
  color: rgb(3, 3, 3);

 
}
@media (min-width: 600px) {
  .card {
    height: 200px;
    width : 200px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* right: 10px; */
  width: 300%;
  height: 300%;
  
  box-shadow: 2px 2px 1px #696767;
  background-size: 20rem;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 300%;
  pointer-events: none;
  border: solid #6b6767 1px;
  
  box-shadow: 2px 2px 1px #888888;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.col-yellow {
  color: #ffcc00;
}
/* .content.fas{
  background: #3b5998;
} */
/* .card:nth-child(1):before {
  background-image: url("/assets/painter4.png");
  display: left;
} */
.card:nth-child(2):before {
  background-image: url("/assets/plumber3.PNG");
  display : right;
}
.card:nth-child(3):before {
  background-image: url("/assets/acrepair.png");
}
.card:nth-child(4):before {
  background-image: url("/assets/carpainter.png");
}
.card:nth-child(5):before {
	background-image: url("/assets/maid.png");
}
.card:nth-child(6):before {
background-image: url("/assets/electrician.png");
}

.card:nth-child(7):before {
background-image: url("/assets/milkman.png");
}
.card:nth-child(8):before {
	background-image: url("/assets/pestcontrol.png");
}
	

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}