<div class="service-store">
	<div class="header">
	 <div class="browse">
	  <div class="browse-category">
	   Browse Services
	   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
		<path d="M6 9l6 6 6-6" /></svg>
	  </div>
	  <div class="search-bar">
	   <input type="text" placeholder="Search Service" />
	  </div>
	</div>
	</div>
	<div class="service-slide">
	 <div class="service js-flickity" data-flickity-options='{ "wrapAround": true }'>
	  <div class="service-cell">
	   <div class="service-img">
		<img src="\assets\painter.jpg" class="service-photo">
	   </div>
	   <div class="service-content">
		<div class="service-title">Sandy</div>
		<div class="service-author"></div>
		<div class="rate">
		 <fieldset class="rating">
		  <input type="checkbox" id="star5" name="rating" value="5" />
		  <label class="full" for="star5"></label>
		  <input type="checkbox" id="star4" name="rating" value="4" />
		  <label class="full" for="star4"></label>
		  <input type="checkbox" id="star3" name="rating" value="3" />
		  <label class="full" for="star3"></label>
		  <input type="checkbox" id="star2" name="rating" value="2" />
		  <label class="full" for="star2"></label>
		  <input type="checkbox" id="star1" name="rating" value="1" />
		  <label class="full" for="star1"></label>
		 </fieldset>
		 <span class="service-voters">1.987 voters</span>
		</div>
		<div class="service-sum">Has 10 years of experience and has excellent reiews.</div>
		<div class="service-see">Book for service</div>
	   </div>
	  </div>
	  <div class="service-cell">
	   <div class="service-img">
		<img src="\assets\electrician.jpg" alt="" class="service-photo">
	   </div>
	   <div class="service-content">
		<div class="service-title">Vicky</div>
		<div class="service-author"></div>
		<div class="rate">
		 <fieldset class="rating blue">
		  <input type="checkbox" id="star6" name="rating" value="5" />
		  <label class="full1" for="star6"></label>
		  <input type="checkbox" id="star7" name="rating" value="4" />
		  <label class="full1" for="star7"></label>
		  <input type="checkbox" id="star8" name="rating" value="3" />
		  <label class="full1" for="star8"></label>
		  <input type="checkbox" id="star9" name="rating" value="2" />
		  <label class="full1" for="star9"></label>
		  <input type="checkbox" id="star10" name="rating" value="1" />
		  <label class="full1" for="star10"></label>
		 </fieldset>
		 <span class="service-voters">1.987 voters</span>
		</div>
		<div class="service-sum">Vicky has 5 years of experience and also he has done ITI course.</div>
		<div class="service-see service-blue">Book for Service</div>
	   </div>
	  </div>
	  <div class="service-cell">
	   <div class="service-img">
		<img src="\assets\carpenter.jpg" alt="" class="service-photo">
	   </div>
	   <div class="service-content">
		<div class="service-title">Krishna</div>
		<div class="service-author"></div>
		<div class="rate">
		 <fieldset class="rating purple">
		  <input type="checkbox" id="star11" name="rating" value="5" />
		  <label class="full" for="star11"></label>
		  <input type="checkbox" id="star12" name="rating" value="4" />
		  <label class="full" for="star12"></label>
		  <input type="checkbox" id="star13" name="rating" value="3" />
		  <label class="full" for="star13"></label>
		  <input type="checkbox" id="star14" name="rating" value="2" />
		  <label class="full" for="star14"></label>
		  <input type="checkbox" id="star15" name="rating" value="1" />
		  <label class="full" for="star15"></label>
		 </fieldset>
		 <span class="service-voters">1.987 voters</span>
		</div>
		<div class="service-sum">Krishna is hardworking and he has done ITI course and has 3 years of experience.</div>
		<div class="service-see service-pink">Book The service</div>
	   </div>
	  </div>
	  <div class="service-cell">
	   <div class="service-img">
		<img src="https://images-na.ssl-images-amazon.com/images/I/81af+MCATTL.jpg" alt="" class="service-photo">
	   </div>
	   <div class="service-content">
		<div class="service-title">The Great Gatsby</div>
		<div class="service-author">by F.Scott Fitzgerald</div>
		<div class="rate">
		 <fieldset class="rating yellow">
		  <input type="checkbox" id="star16" name="rating" value="5" />
		  <label class="full" for="star16"></label>
		  <input type="checkbox" id="star17" name="rating" value="4" />
		  <label class="full" for="star17"></label>
		  <input type="checkbox" id="star18" name="rating" value="3" />
		  <label class="full" for="star18"></label>
		  <input type="checkbox" id="star19" name="rating" value="2" />
		  <label class="full" for="star19"></label>
		  <input type="checkbox" id="star20" name="rating" value="1" />
		  <label class="full" for="star20"></label>
		 </fieldset>
		 <span class="service-voters">1.987 voters</span>
		</div>
		<div class="service-sum">The Great Gatsby, F. Scott Fitzgerald’s third service, stands as the supreme achievement of his career.</div>
		<div class="service-see service-yellow">See The service</div>
	   </div>
	  </div>
	  <div class="service-cell">
	   <div class="service-img">
		<img src="https://images-na.ssl-images-amazon.com/images/I/81UWB7oUZ0L.jpg" alt="" class="service-photo">
	   </div>
	   <div class="service-content">
		<div class="service-title">After You</div>
		<div class="service-author">by Jojo Moyes</div>
		<div class="rate">
		 <fieldset class="rating dark-purp">
		  <input type="checkbox" id="star21" name="rating" value="5" />
		  <label class="full" for="star21"></label>
		  <input type="checkbox" id="star22" name="rating" value="4" />
		  <label class="full" for="star22"></label>
		  <input type="checkbox" id="star23" name="rating" value="3" />
		  <label class="full" for="star23"></label>
		  <input type="checkbox" id="star24" name="rating" value="2" />
		  <label class="full" for="star24"></label>
		  <input type="checkbox" id="star25" name="rating" value="1" />
		  <label class="full" for="star25"></label>
		 </fieldset>
		 <span class="service-voters">1.987 voters</span>
		</div>
		<div class="service-sum">Louisa Clark is no longer just an ordinary girl living an ordinary life. After the transformative six months spent.</div>
		<div class="service-see service-purple">See The service</div>
	   </div>
	  </div>
	 </div>
	</div>
	</div>
  
  